# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and Models
data/*.csv
models/*.joblib
models/*.pkl
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
